.stadium-seating-chart {
  path {
    transition: opacity 0.3s ease-in-out;
  }
  // &:hover,
  &.focusSection {
    path {
      opacity: 0.8;
    }
    path:hover {
      opacity: 1;
    }
  }
  path.indicateFocus {
    opacity: 1;
  }
  // path:hover {
  //   opacity: 0.3;
  // }
}
