.stadium-seating-chart {
  cursor: pointer;
  // path:not(#Field):hover ~ path {
  //   opacity: 0.5;
  // }
  path {
    transition: opacity 0.3s ease-in-out;
  }
  &.focusSection {
    path {
      opacity: 0.8;
    }
    path:not(#Field):hover {
      opacity: 1;
    }
  }
  path.indicateFocus {
    opacity: 1;
  }
}
